


    <div class="container">
        <div class="row">
            <div class=" welcome col-md-12">
                <h1 class="tagline">Welcome to Dlist</h1>
                <div class="sub">
                <%= link_to "Buy & Sell", sales_path %> |
                <%= link_to "Housing", all_rents_path%> |
                <%= link_to "Events", all_events_path%>
              </div>

            </div>
        </div>
    </div>
