<h1>Welcome to Dlist</h1>


<!-- Temp button to sell index -->
<li><%= link_to "Buy and Sell", sales_path, class: 'btn btn-info' %></li>
<li><%= link_to "Rent", all_rents_path, class: 'btn btn-info' %></li>
