/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #f3f3f3;
   height: 95%;

 }
 .conversation {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 1%;
}

.head-nav a {
  color: white;
}

.head-nav {
  padding-top: 5px;
  color: grey;
  text-align: right;
  font-size: 26px;
  padding-right: 10px;
  height: 50px;
  background-color: black;
}


/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */


/* Customize the text color and shadow color and to optimize text legibility. */
.welcome {
  margin-top: 20px;
  background: url("http://i.imgur.com/4R8gUP0.jpg");
  background-position: center;
  height: 630px;
  width: 100%;
}
.tagline {
    padding-top: 200px;
    font-size: 60px;
    color: black;
}

.sub {
  font-size: 25px;
  padding-left: 50px;
}


.card-title {
  height:30px;
}
.mb-3 {
  padding-left: 10px;
  padding-right: 10px;
}
