// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-picture {
height: 200px;
width: 200px;
}

.profile-card {
    border: 1px solid black;
    width: 100%;
    padding: 10px 5px;
}

.profile-card p {
  font-size: 18px;
  margin-bottom: -20px;
}

// TEMP
